/* CommitHistory.css */

.commitList {
  list-style-type: none;
  padding: 0;
}

.commitList li {
  margin-bottom: 10px;
}

.message {
  font-size: 16px; /* Dimensione del font per desktop */
  font-style: italic;
}

.dateLabel {
  background-color: #ffedd5;
  color: #333;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 13px; /* Dimensione del font per desktop */
}

/* Media query per dispositivi con larghezza massima di 768px */
@media (max-width: 768px) {

  .message {
    font-size: 16px; /* Dimensione del font per dispositivi più piccoli */
  }

  .dateLabel {
    font-size: 12px; /* Dimensione del font per dispositivi più piccoli */
  }
}

/* Media query per dispositivi con larghezza massima di 480px */
@media (max-width: 480px) {
  .username {
    font-size: 12px; /* Dimensione del font per dispositivi ancora più piccoli */
  }

  .message {
    font-size: 14px; /* Dimensione del font per dispositivi ancora più piccoli */
  }

  .dateLabel {
    font-size: 10px; /* Dimensione del font per dispositivi ancora più piccoli */
  }
}
